# DEVELOPMENT
PORT=
NODE_ENV=

# DATABASE
REDIS_URL=

MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_HOST=
MYSQL_DATABASE=


# EMAIL SERVICE
EMAIL_ID=
EMAIL_PASSWORD=

# JWT
JWT_SECRET_KEY=
ACCESS_TOKEN_EXPIRES_IN=
# ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=




